<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>
		</title>
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
		<link rel='stylesheet' href='../stylesheets/headphones2.css'>
	</head>
	<body>
		<table class='b-catalog' id='catalog1'>
			<tr class='b-good'>
				<td class= 'st2'><img src='../images/gallery/object_bg_2611.jpg' class='b-good__img' alt="Image 79" width="150" height="150"></td>
				<td class='b-good__description'><b>Наушники Harman/Kardon Soho I Black</b><br>
				Harman Kardon Soho - элегантные накладные наушники премиум-класса, Необычный, утончённый корпус, высокое качество отделки и хорошее качество звука. Soho изготовлены из металла, точки соприкосновения наушников с головой отделаны качественной кожей. Металл придаёт модели ощущение прочности и надёжности. Harman Kardon Soho на европейском рынке они уже устоялись, а у нас появились недавно.</td>
				<td class='b-good__order'><input type='button' name='Submit' value='Заказать'></td>
			</tr>
			<tr class='b-good'>
				<td class= 'st2'><img src='../images/gallery/object_bg_1597.jpg' class='b-good__img' alt="Image 80" width="150" height="150"></td>
				<td class='b-good__description'><b>Наушники V-Moda Crossfade M-100</b><br>
				Перед Вами модель наушников от знаменитого американского бренда V-Мoda, чья штаб квартира находиться в самом сердце Лос-Анджелеса – Голливуде. Разработчики сделали все возможное, чтобы гармонично совместить оригинальный стиль с по-настоящему качественно сбалансированным звуком.</td>
				<td class='b-good__order'><input type='button' name='Submit' value='Заказать'></td>
			</tr>
			<tr class='b-good'>
			<td class= 'st2'><img src='../images/gallery/object_bg_935.jpg' class='b-good__img' alt="Image 82" width="150" height="150"></td>
				<td class='b-good__description'><b>Наушники House of Marley EXODUS</b><br>
				Бренд The House of Marley, основанный наследниками великого исполнителя регги Боба Марли, пользуется неплохим успехом среди ценителей творчества Боба. Не так давно на выставке электроники CES 2011 House of Marley представили различные аудио-устройства. Все устройства компании House of Marley отличаются уникальным стилем и экологичностью исполенния.</td>
				<td class='b-good__order'><input type='button' name='Submit' value='Заказать'></td>
			</tr>
		</table>
	</body>
	<script type='text/javascript' src='../scripts/jquery-2.1.0.min.js'></script>
	<script type='text/javascript' src='../scripts/headphones2.js'></script>
	<script>
		var h1 = new b_catalog('#catalog1');
	</script>
</html>